<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956581034378-qeka94p0te8l2n1jo4vheqrppfjsi1eq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956581034378-qeka94p0te8l2n1jo4vheqrppfjsi1eq</string>
	<key>API_KEY</key>
	<string>AIzaSyBLcTWdu5nlaFw27f9QOyj8WDOUC7o8eEc</string>
	<key>GCM_SENDER_ID</key>
	<string>956581034378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eshopuz</string>
	<key>PROJECT_ID</key>
	<string>eshopuz-3c863</string>
	<key>STORAGE_BUCKET</key>
	<string>eshopuz-3c863.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956581034378:ios:ca0d0b178376ff6e6e7073</string>
</dict>
</plist>